<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mass Inactivate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.11/video.js"></script>
    @*<script src="~/Scripts/tether/tether.js"></script>
        <script src="~/Scripts/tether/tether.min.js"></script>*@
    <style>
        .container {
            padding-right: 15px;
            padding-left: 15px;
            /*margin-right: auto;
            margin-left: auto;*/
            margin-top: 10px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            /*width: 100%;*/
            height: 15px;
        }
        .navbar {
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="@Url.Action("Login", "Account")"><img style="margin-top: 5px"; src="@Url.Content("~/Resources/Silco.png")"></a> 
            </div>
            <div class="navbar-collapse navbar-right navbar-default">
                @Html.Partial("_LoginPartial")
            </div>  
        </div>
    </div>

        @RenderBody()

    <div class="navbar navbar-fixed-bottom">
        <p style="background-color: lightgray">
            <strong> Silco Fire & Security</strong><br />
            Confidential: The information contained in this website and other internal websites and computer systems is confidential information belonging to Silco Fire & Security.
            Unauthorized use, reproduction, or dissemination of this information is prohibited. <br />
            513-733-5655 | silcofs.com| &copy; @DateTime.Now.Year
        </p>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>
</html>
