@model MassInactiveInspections.Models.AdditionalCustomerInfoList
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ViewCustomerInfo", "Home", FormMethod.Post, new { customerList = Model }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="inspectdtl">
            <div ng-app="" class="form-group">
                <table class="table table-bordered" id="inspections">
                    <tr>
                        <th>@Html.CheckBox("CheckAll", false, new { id = "select_all" })</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().BusinessName)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().CustomerName)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().CustomerNumber)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().InspectionCycleDescription)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().LastInspectionDate)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().RouteCode)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().RouteID)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().SiteNumber)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().SystemCode)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().CustomerSystemId)</th>
                        <th>@Html.DisplayNameFor(m => m.additionalCustomerInfoListView.FirstOrDefault().InspectionId)</th>
                    </tr>
                    @for (int i = 0; i < Model.additionalCustomerInfoListView.Count; i++)
                    {
                        <tr>
                            <td>@Html.CheckBoxFor(model => model.additionalCustomerInfoListView[i].IsSelected, new { @class = "someClass" })</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].BusinessName)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].CustomerName)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].CustomerNumber)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].InspectionCycleDescription)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].LastInspectionDate)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].RouteCode)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].RouteID)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].SiteNumber)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].SystemCode)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].CustomerSystemId)</td>
                            <td>@Html.DisplayFor(m => m.additionalCustomerInfoListView[i].InspectionId)</td>
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].BusinessName)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].CustomerName)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].CustomerNumber)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].InspectionCycleDescription)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].LastInspectionDate)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].RouteCode)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].RouteID)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].SiteNumber)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].SystemCode)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].IsSelected)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].CustomerSystemId)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].InspectionId)
                            @Html.HiddenFor(m => m.additionalCustomerInfoListView[i].ReasonForLeaving)
                        </tr>
                    }
                </table>
                <label>Select the competitor that we lost the inspection to:</label>
                @Html.DropDownListFor(m => m.Selectedcompetitor, new SelectList(Model.competitorslist, "Userdef_8_Code", "Userdef_8_Code", 0), "Please select a competitor", new { ng_required="true", ng_model= "competitorslist", })
                <div ng-show="competitorslist == 'Other' || competitorslist == 'Refused'">  
                    <label id="competitorothertxtlbl" style="display:none" name="competitorothertxtlbl" for="competitorothertxt"> Enter another competitor </label>
                    @Html.TextBoxFor(m => m.competitorothertxt, new { ng_required= "competitorslist == 'Other' || competitorslist == 'Refused'", })
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit btn-default btn-primary"/>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />

        </div>
    }
    </div>

<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

@section Scripts
{
<script src="~/Scripts/angular.js"></script>
    <script type="text/JavaScript">
        $('#select_all').click(function () {
            $('.someClass').prop('checked', this.checked)
        });
    </script>
}


        




