@model MassInactiveInspections.Models.CustomerInfoList
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<body>
    <table class="table table-bordered">
        <tr>
            <th class="active">@Html.DisplayName("Select All?")<input type="checkbox" class="select-all checkbox" name="select-all" /></th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().BusinessName)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().CustomerName)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().CustomerNumber)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().InspectionCycleDescription)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().LastInspectionDate)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().RouteCode)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().RouteID)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().SiteNumber)</th>
            <th>@Html.DisplayNameFor(m => m.CustomerInfoListView.FirstOrDefault().SystemCode)</th>
        </tr>
        @foreach (var item in Model.CustomerInfoListView)
        {
            <tr>
                <td class="active"> <input type="checkbox" class="select-item checkbox"  name="select-item" value="1000" /> </td>
                <td>@Html.DisplayFor(modelItem => item.BusinessName)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.InspectionCycleDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.LastInspectionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteCode)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteID)</td>
                <td>@Html.DisplayFor(modelItem => item.SiteNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.SystemCode)</td>
            </tr>
        }
    </table>
</body>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(function () {

        //column checkbox select all or cancel
        $("input.select-all").click(function ()
        {
            var checked = this.checked;

            $("input.select-item").each(function (index, item)
            {
                item.checked = checked;
            });
        });

        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            console.log(checked);
            checkSelected();
        });

        //check is all selected
        function checkSelected() {
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            console.log("total:" + total);
            console.log("len:" + len);
            all.checked = len === total;
        }
    });
</script>







